batchgenerators==0.19.3
cffi
cycler==0.10.0
decorator==4.4.1
future==0.18.2
imageio==2.6.1
kiwisolver==1.1.0
linecache2==1.0.0
matplotlib==3.1.2
networkx==2.4
numpy
pandas
Pillow==7.1.0
pycparser==2.19
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
scikit-image
scikit-learn
scipy
six==1.13.0
sklearn==0.0
threadpoolctl==1.1.0
traceback2==1.4.0
unittest2==1.1.0

Cython
torch

# for annotation
nibabel
pynrrd
pyyaml
filelock
